 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 922px;
  margin: 124px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 29px 21px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 1px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 41px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 31px 1px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 45px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 30px 21px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 31px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 70px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-3 {
  padding: 23px 30px 21px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 31px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 70px 41px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 40px 98px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 79px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 389px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 78px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 78px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -12px;
    margin-right: -12px;
    padding: 10px 8px 10px 7px;
  }
}